<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8"> 
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/jquerysession.js"></script>
<link href="/static/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>

<!-- <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script> -->
<!-- <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css"> -->
<!-- <link href="https://cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet"> -->

<script src="/static/thirdparty/popper.min.js"></script>
<link rel="stylesheet" href="/static/thirdparty/monokai_sublime.min.css">
<link href="/static/thirdparty/magnific-popup.min.css" rel="stylesheet">

	
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>

$(document).ready(function() {
  $('#testblog').html('<p>eg3egg34g34gewf43ctvtvaffs</p><p><img src="/static/pic/123.jpg" style="width: 500px"></p><p>111111111111111111er3r32324t34t34ef</p>');
});

	
//context = {'Blogs':Blogs[start_pg:end_pg],'cur_page':pg,'total_pg':total_pg}
total_pg={{total_pg}} //总页数
cur_page={{cur_page}} //当前页
av_page={{av_page}}//每页个数
var pre_pg
var next_pg
//alert(total_pg)
//alert(cur_page)


function HTMLEncode(html) {
    var temp = document.createElement("div");
    (temp.textContent != null) ? (temp.textContent = html) : (temp.innerText = html);
    var output = temp.innerHTML;
    temp = null;
    return output;
}

function HTMLDecode(text) { 
    var temp = document.createElement("div"); 
    temp.innerHTML = text; 
    var output = temp.innerText || temp.textContent; 
    temp = null; 
    return output; 
} 

</script>

</head>

<body>

<div class="container">
<div class="row">
<div class="col-sm-12" >
<div id="demo" class="carousel slide">
 
  <!-- 指示符 -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
 
  <!-- 轮播图片 -->
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-size:cover">
      <img src="/media/photos/7.bmp" >
	  <div class="carousel-caption">
        <h3>不忘初心</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/media/photos/8.jpg" >
	  <div class="carousel-caption">
        <h3>牢记使命</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/media/photos/9.jpg" >
	  <div class="carousel-caption">
        <h3>永远奋斗</h3>
      </div>
    </div>
  </div>
 
  <!-- 左右切换按钮 -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
 
</div>
</div>
</div>
</div>

<div class="container" >
	<p></p>
	
	<ul class="nav  nav-tabs justify-content-left">
		<li class="nav-item">
			<a class="nav-link active" href="#">首页</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">论坛</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">帮助</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">下载</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">关于</a>
		</li>

		<form class="form-inline " style="float:right;">
			<input class="form-control" type="text" placeholder="Search">
			<button class="btn btn-default" type="button">Search</button>
		</form>
	</ul>

</div>

<div class="container" id="content">
	<div class="row">
		<div class="col-md-9">
			<div class="alert alert-light">
			
			</div>
			<div class="alert alert-secondary">
				<h3 class="text-center">最新版本发布</h3>
				<h6 class="text-center"><small>作者：<span class="text-info">王赛</span> • 2018年1月22日</small></h6>
				<div  class="alert alert-secondary" style="border:0px">
					<p>上周我们 发布 了一个新版本，包含了大家期盼已久的功能：主题模板和网站对本地化的支持。 这个功能完全是由我们的一个贡献者（Juan）开发的，Ghost 基金提供了支持。 我们已经针对这个功能编写了完整的文档，下面就来介绍一下这个功能是如何工作的： 网站本地化 你可以在 Ghos</p>
				</div>
				<button type="button" class="btn btn-info btn-sm">阅读全文</button>
			</div>
			<div class="alert alert-secondary">
				<h3 class="text-center">响应式布局体验</h3>
				<h6 class="text-center"><small>作者：<span class="text-info">王赛</span> • 2018年1月22日</small></h6>
				<div  class="alert alert-secondary" style="border:0px">
				<img src="/media/photos/4.jpg" alt="Android 版 Ghost 客户端来了！" class="img-fluid">
				<p>Ghost 从一开始就支持响应式 Web 使用体验，但是我们今天仍然向前迈出了一大步 -- 推出 Android 平台原生 APP ！ 我们一直试图为 Ghost 用户构建一个可靠的移动端 Web 体验，但不可避免地，它在它所能做的事情上仍然是相当受限的。即便是在 2017 年的</p>
				</div>
				<button type="button" class="btn btn-info btn-sm">阅读全文</button>
			</div>
			
			<div class="alert alert-secondary">
				<h3 class="text-center">数据库获取文章</h3>
				<h6 class="text-center"><small>作者：<span class="text-info">王赛</span> • 2018年1月22日</small></h6>
				<div  class="alert alert-secondary" style="border:0px" id="testblog">
					
				</div>
				<button type="button" class="btn btn-info btn-sm" id="testbtn">阅读全文</button>
			</div>
			
			{% for blog in Blogs %}
			<div class="alert alert-secondary">
				<h3 class="text-center">{{blog.blogtitle}}</h3>
				<h6 class="text-center"><small>作者：<span class="text-info">王赛</span> • 2018年1月22日</small></h6>
				<div  class="alert alert-secondary" style="border:0px" id="testblog111">
						<p class="{{blog.id}}" ></p>
						<script>
							$(function(){
								$(".{{blog.id}}").html(HTMLDecode("{{blog.blogcontent}}"));
							});
						</script>
				</div>
				<button type="button" class="btn btn-info btn-sm" id="testbtn">阅读全文</button>
			</div>
			{% endfor %}
			
			
		</div>
		<div class="col-md-3">
			<div class="alert alert-light">
			
			</div>
			<div class="alert alert-secondary">
			    <h4 class="title">导航</h4>
				<nav class="navbar">
				  <!-- Links -->
				  <ul class="navbar-nav">
					<li class="nav-item">
					  <a class="nav-link" href="#">热点文章</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">最新发布</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">我的标签</a>
					</li>
				  </ul> 
				</nav>
			
			</div>
			
			<div class="alert alert-secondary">
				<!-- start tag cloud widget -->
				<div class="row">
					<h4 class="title">标签云</h4>
					<div class=" row-fluid">						
						<a href="/tag/ke-hu-duan/" class='btn btn-info btn-sm' style="float:left;margin-left:5px;margin-bottom:4px;">客户端</a>
						<a href="/tag/android/" class='btn btn-info btn-sm ' style="float:left;margin-left:5px;margin-bottom:4px;">Android</a>
						<a href="/tag/jquery/" class='btn btn-info btn-sm ' style="float:left;margin-left:5px;margin-bottom:4px;">jQuery</a>
						<a href="/tag/ghost-0-7-ban-ben/" class='btn btn-info btn-sm ' style="float:left;margin-left:5px;margin-bottom:4px;">Ghost 0.7 版本</a>
						<a href="/tag/opensource/" class='btn btn-info btn-sm ' style="float:left;margin-left:5px;margin-bottom:4px;">开源</a>
						<a href="/tag/zhu-shou-han-shu/" class='btn btn-info btn-sm ' style="float:left;margin-left:5px;margin-bottom:4px;">助手函数</a>
						<a href="/tag/tag-cloud/" class='btn btn-info btn-sm ' style="float:left;margin-left:5px;margin-bottom:4px;">标签云</a>
						<a href="/tag/navigation/" class='btn btn-info btn-sm ' style="float:left;margin-left:5px;margin-bottom:4px;">导航</a>	
					</div>
				</div>
				<!-- end tag cloud widget -->	
			</div>
			
			
			
		</div>
	</div>
	
	<script>
	
	</script>
	
	<ul class="pagination" id="blogpage">
	  <li class="page-item"><a class="page-link" href="/blog/" id="prepage")>Previous</a></li>
	  
	  
	  <script>
		  for(var i=1;i<=total_pg;i++)
		  {
			
			var new_li = document.createElement("li")
			new_li.className = "page-item"
			if(i==cur_page)
			{
				new_li.className +=  " active"
			}
			
			var new_a = document.createElement("a")
			new_a.className = "page-link"
			new_a.text = i
			new_a.href="/blog/"+i
			
			new_li.appendChild(new_a)
			document.getElementById('blogpage').appendChild(new_li)
			//new_e.onclick = function(){VerificationId()}
		  }
		  
		  if(cur_page>1)
		  {
			pre_pg = cur_page-1
		  }
		  else
		  {
			pre_pg=1
		  }
		  if(cur_page<total_pg)
		  {
			next_pg = cur_page+1
		  }
		  else
		  {
			next_pg = cur_page
		  }
		  
		  document.getElementById('prepage').href = "/blog/"+String(pre_pg)
		  
	  </script>
	  
	  <!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->
	  <!-- <li class="page-item"><a class="page-link" href="#">2</a></li> -->
	  <!-- <li class="page-item"><a class="page-link" href="#">3</a></li> -->
	  
	  
	  <li class="page-item"><a class="page-link" href="#" id="nextpage">Next</a></li>
	  <script>
		document.getElementById('nextpage').href = "/blog/"+String(next_pg)
	  </script>
	</ul>

</div>

	
</body>
</html>