<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- <title>Church &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	

	

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/thirdparty/ft5_79_church/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/thirdparty/ft5_79_church/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/thirdparty/ft5_79_church/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/static/thirdparty/ft5_79_church/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/static/thirdparty/ft5_79_church/css/flexslider.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/static/thirdparty/ft5_79_church/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/thirdparty/ft5_79_church/css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/static/thirdparty/ft5_79_church/css/style.css">

	<!-- Modernizr JS -->
	<script src="/static/thirdparty/ft5_79_church/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<script src="/static/js/jquery-3.3.1.js"></script>
	<script src="/static/js/jquerysession.js"></script>
	<link href="/static/thirdparty/fontawesome-free-5.0.10/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet">
	
	
	<style>
		.my-new-border{
						border-top-color: rgba(0, 0, 0, 0.1);
						border-top-style: solid;
						border-top-width: 2px;
						border-right-color: rgba(0, 0, 0, 0.1);
						border-right-style: solid;
						border-right-width: 2px;
						border-bottom-color: rgba(0, 0, 0, 0.1);
						border-bottom-style: solid;
						border-bottom-width: 2px;
						border-left-color: rgba(0, 0, 0, 0.1);
						border-left-style: solid;
						border-left-width: 2px;
						border-image-source: initial;
						border-image-slice: initial;
						border-image-width: initial;
						border-image-outset: initial;
						border-image-repeat: initial;
						
						padding-top: 8px;
						padding-right: 20px;
						padding-bottom: 8px;
						padding-left: 20px;
					}
					
		.btn_mine {
			  display: inline-block;
			  font-weight: 400;
			  text-align: center;
			  white-space: nowrap;
			  vertical-align: middle;
			  -webkit-user-select: none;
			  -moz-user-select: none;
			  -ms-user-select: none;
			  user-select: none;
			  border: 1px solid transparent;
			  padding: 0.375rem 0.75rem;
			  font-size: 1rem;
			  line-height: 1.5;
			  border-radius: 0.25rem;
			  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
			  margin-bottom:10px;
			  margin-right:10px;
			}
			
		.btn-sm_mine {
			  padding: 0.25rem 0.5rem;
			  font-size: 0.875rem;
			  line-height: 1.5;
			  border-radius: 0.2rem;
			}

	</style>
	
	<script>
		$(document).ready(function() {
			{% if request.session.username %}  
				//alert("{{username}}")
				//alert("{{ request.session.username }} ")
				
				//$('#fh5co-hero').hide()
				
			{% else %}  
				//alert("还未登录")
				<!-- $('#fh5co-hero').show() -->
				$(location).attr('href', '/loginpop')
			{% endif %}  
			function getCookie(name) {  
					var cookieValue = null;  
					if (document.cookie && document.cookie != '') {  
						var cookies = document.cookie.split(';');  
						for (var i = 0; i < cookies.length; i++) {  
							var cookie = jQuery.trim(cookies[i]);  
							// Does this cookie string begin with the name we want?  
							if (cookie.substring(0, name.length + 1) == (name + '=')) {  
								cookieValue = decodeURIComponent(cookie.substring(name.length + 1));  
								break;  
							}  
						}  
					}  
					return cookieValue;  
				}  
				function csrfSafeMethod(method) {  
					// these HTTP methods do not require CSRF protection  
					return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));  
				}  
				$.ajaxSetup({  
					beforeSend: function(xhr, settings) {  
					var csrftoken = getCookie('csrftoken');       
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {  
							xhr.setRequestHeader("X-CSRFToken", csrftoken);  
						}  
					}  
				}); 
				
				 $('#searchblog').click(function(){
					//alert($('#searchblogcondition').val())
					//alert('/blog/?pg=1&searchval='+$('#searchblogcondition').val())
					window.location.href='/blog/?pg=1&searchval='+$('#searchblogcondition').val(); 
				  })
				  
				  $('#publishblog').click(function(){
					window.location.href='/publish'; 
				  })
		})
function gotopagehref(){
		window.location.href='/blog/?pg='+$('#gotopagetext').val()+'&searchval='+$('#searchblogcondition').val(); 
	}
	
total_pg={{total_pg}} //总页数
cur_page={{cur_page}} //当前页
av_page={{av_page}}//每页个数
var pre_pg
var next_pg
		function HTMLEncode(html) {
			var temp = document.createElement("div");
			(temp.textContent != null) ? (temp.textContent = html) : (temp.innerText = html);
			var output = temp.innerHTML;
			temp = null;
			return output;
		}

		function HTMLDecode(text) { 
			var temp = document.createElement("div"); 
			temp.innerHTML = text; 
			var output = temp.innerText || temp.textContent; 
			temp = null; 
			return output; 
		} 

		function showablog(blogid,blogtitle)
		{
			//alert(blogid)
			//alert(blogtitle)
			window.location.href='/showblog/?blogid='+blogid; 
		}
	</script>
	
	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container-wrap">
			<div class="top-menu">
				<div class="row">
					
					<div class="col-md-12 col-md-offset-0 text-center menu-1">
						<ul>
							<li class="active"><a href="/loginsucc">首页</a></li>
							<li><a href="/blog/?pg=1&searchval=">论坛</a></li>
							<li class="has-dropdown">
								<a href="/report">报告</a>
								<ul class="dropdown">
									<li><a href="#">电力</a></li>
									<li><a href="#">暖通</a></li>
									<li><a href="#">消防</a></li>
									<li><a href="#">设施</a></li>
								</ul>
							</li>
							<li><a href="#">人事</a></li>
							<li><a href="#">其它</a></li>
							<li><a href="#">联系我们</a></li>
							
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>
	<div class="container-wrap">
		
		<div id="fh5co-services" class="fh5co-light-grey" style="padding-top:2em">
			<!-- <div class="row animate-box"> -->
				<!-- <div class="col-md-6 col-md-offset-3 text-center fh5co-heading"> -->
					<!-- <h2>财拓云IDC欢迎您</h2> -->
					<!-- <p>我们具备领先的基础设施建设，丰富经验的运维团队，为您提供优质的IDC服务，客户永远是我们的中心，愿与您联手协作共赢，创造美好未来！</p> -->
				<!-- </div> -->
			<!-- </div> -->
			
			
			
			<div class="row">
				<div class="col-md-9 animate-box">
					<div class="form-inline my-2 my-lg-0">
					 {% csrf_token %}
					  <input class="form-control mr-sm-2" type="text" placeholder="Search" style="height:41px"  id="searchblogcondition" name="searchblogcondition" >
					  <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="margin-bottom:1px" id="searchblog" >Search</button>
					  <button class="btn btn-info my-2 my-sm-0" type="button" style="margin-bottom:1px" id="publishblog" >Publish</button>
					</div>
					<br>
				</div>
				
				
				
			
				<div class="col-md-9 animate-box">
					
					<!--循环blog begin-->
					{% for blog in Blogs %}
					<div class="services">
						<div class="desc">
							<h3 class="font-weight-bold" ><a href="/report"><b>{{blog.blogtitle}}</b></a></h3>
							<p id="blog_{{blog.id}}">
								<script>
									$(function(){
										
										var blgcontend = HTMLDecode("{{blog.blogcontent}}")
										var blogabstract = "{{blog.blogabstract}}"
										
										//$("#blog_{{blog.id}}").html(HTMLDecode("{{blog.blogcontent}}"));
										$("#blog_{{blog.id}}").text(blogabstract)
										
										
									});
									//alert('{{blog.blogdate|date:"Y-m-d H:i:s"}}')
								</script>
							</p>
							<a href="#"  onclick="showablog('{{blog.id}}','{{blog.blogtitle}}')">Read More <i class="icon-arrow-right3"></i></a>
						</div>
					</div>
					<hr>
					{% endfor %}	
					<!--循环blog end-->
					
					
					
					<!-- <div class="services"> -->
						<!-- <a href="/report" class="img-holder"><img class="img-responsive" src="/static/thirdparty/ft5_79_church/images/img-1.jpg" alt="Free HTML5 Website Template by freehtml5.co"></a> -->
						<!-- <div class="desc"> -->
							<!-- <h3 class="font-weight-bold" ><a href="/report"><b>运维平台</b></a></h3> -->
							<!-- <p>基础设施运维、IT运维，内容涉及电力，暖通，消防，网络等.</p> -->
							<!-- <a href="/report">Read More <i class="icon-arrow-right3"></i></a> -->
						<!-- </div> -->
					<!-- </div> -->
					
					<ul class="pagination pagination-sm" id="blogpage">
					  <li class="page-item"><a class="page-link" href="/blog/" id="prepage")>上一页</a></li>
					  
					  
					  <script>
							{% if request.session.searchcondition %}  
								$('#searchblogcondition').val("{{ request.session.searchcondition }}")
								//alert("{{ request.session.searchcondition }}")
							{% else %}  
								//alert("没有request.session.searchcondition")
							{% endif %} 
					
						  //for(var i=1;i<=total_pg;i++)
						  //alert(Math.floor(1/6))
						  per_pg =6 //每组显示6页
						   
						  for(var m=0;;m++)
						  {
							if(cur_page>=(m*6+1)&&cur_page<=(m+1)*6)
							{
								break;
							}
						  }
						  start_pg = m*6+1
						  end_pg = (m+1)*6
						  if(end_pg>total_pg)
						  {
							end_pg=total_pg
						  }
						  for(var i=start_pg;i<=end_pg;i++)
						  {
							
							var new_li = document.createElement("li")
							new_li.className = "page-item"
							if(i==cur_page)
							{
								new_li.className +=  " active"
							}
							
							var new_a = document.createElement("a")
							new_a.className = "page-link"
							new_a.text = i
							new_a.href="/blog/?pg="+i+'&searchval='+$('#searchblogcondition').val(); 
							//alert(new_a.href)
							new_li.appendChild(new_a)
							document.getElementById('blogpage').appendChild(new_li)
							//new_e.onclick = function(){VerificationId()}
						  }
						  
						  if(cur_page>1)
						  {
							pre_pg = cur_page-1
						  }
						  else
						  {
							pre_pg=1
						  }
						  if(cur_page<total_pg)
						  {
							next_pg = cur_page+1
						  }
						  else
						  {
							next_pg = cur_page
						  }
						  
						  document.getElementById('prepage').href = "/blog/?pg="+String(pre_pg)+'&searchval='+$('#searchblogcondition').val(); 
						  
					  </script>
					  
					  <li class="page-item"><a class="page-link" href="#" id="nextpage">下一页</a></li>
					  <script>
						document.getElementById('nextpage').href = "/blog/?pg="+String(next_pg)+'&searchval='+$('#searchblogcondition').val(); 
					  </script>
							  <span>&nbsp;&nbsp;</span>
							  <a class="page-link" href="#"  style="display:inline;padding-top:5px;padding-bottom:5px !important">跳至</a>
							  <li class="page-item"><input class="page-link" style="display:inline !important"></input></li>
							  <a class="page-link" href="#"  style="display:inline;padding-top:5px;padding-bottom:5px !important">GO</a>
							  
							  <!-- <li class="page-item">&nbsp;&nbsp;跳至:&nbsp;<input class="page-link" type="text" style="width:35px;display:inline" id="gotopagetext" name="gotopage" style="height:80%">&nbsp;页&nbsp;&nbsp;</input><a class="page-link" style="display:inline"  href="javascript:void(0);" onclick="gotopagehref()">GO</a></li> -->
					  
					  
					</ul>
				</div>
				<div class="col-md-3 animate-box">
					<div class="services">
						<div class="desc my-new-border">
							<h3 class="font-weight-bold" >导航</h3>
							<p>
								<h5 class="font-weight-bold" ><a href="#" >热点文章</a></h5>
								<h5 class="font-weight-bold" ><a href="#" >最新发布</a></h5>
								<h5 class="font-weight-bold" ><a href="#" >我的文章</a></h5>
								<h5 class="font-weight-bold" ><a href="#" >精华知识</a></h5>
								
							</p>
						</div>
					</div>
					<br>
					<div class="services">
						<div class="desc my-new-border">
							<h3 class="font-weight-bold" >标签</h3>
							<p>
								<!-- <h5 class="font-weight-bold" ><a href="#" >热点文章</a></h5> -->
								<!-- <h5 class="font-weight-bold" ><a href="#" >最新发布</a></h5> -->
								<!-- <h5 class="font-weight-bold" ><a href="#" >我的文章</a></h5> -->
								<!-- <h5 class="font-weight-bold" ><a href="#" >精华知识</a></h5> -->
								<button href="#" class='btn_mine btn-info btn-sm_mine' >热点文章</button>
								<button href="#" class='btn_mine btn-info btn-sm_mine' >最新发布</button>
								<button href="#" class='btn_mine btn-info btn-sm_mine' >我的文章</button>
								<button href="#" class='btn_mine btn-info btn-sm_mine' >精华知识</button>
								<button href="#" class='btn_mine btn-info btn-sm_mine' >热点文章</button>
								<button href="#" class='btn_mine btn-info btn-sm_mine' >最新发布</button>
								<button href="#" class='btn_mine btn-info btn-sm_mine' >我的文章</button>
								<button href="#" class='btn_mine btn-info btn-sm_mine' >精华知识</button>
							</p>
						</div>
					</div>
					
					<!-- <div class="services"> -->
						<!-- <div class="desc my-new-border"> -->
							<!-- <h3 class="font-weight-bold" >标签云</h3> -->
							<!-- <p> -->
														
									<!-- <a href="/tag/ke-hu-duan/" class='btn btn-info btn-sm' >客户端</a> -->
									<!-- <a href="/tag/android/" class='btn btn-info btn-sm ' >Android</a> -->
									<!-- <a href="/tag/jquery/" class='btn btn-info btn-sm '>jQuery</a> -->
									<!-- <a href="/tag/ghost-0-7-ban-ben/" class='btn btn-info btn-sm '>Ghost 0.7 版本</a> -->
									<!-- <a href="/tag/opensource/" class='btn btn-info btn-sm '>开源</a> -->
									<!-- <a href="/tag/zhu-shou-han-shu/" class='btn btn-info btn-sm '>助手函数</a> -->
									<!-- <a href="/tag/tag-cloud/" class='btn btn-info btn-sm '>标签云</a> -->
									<!-- <a href="/tag/navigation/" class='btn btn-info btn-sm '>导航</a>	 -->
							
							<!-- </p> -->
						<!-- </div> -->
					<!-- </div> -->
				
				</div>
			</div>
		</div>
        

		
	</div><!-- END container-wrap -->

	
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="/static/thirdparty/ft5_79_church/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/static/thirdparty/ft5_79_church/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/static/thirdparty/ft5_79_church/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/static/thirdparty/ft5_79_church/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/static/thirdparty/ft5_79_church/js/jquery.flexslider-min.js"></script>
	<!-- Carousel -->
	<script src="/static/thirdparty/ft5_79_church/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/static/thirdparty/ft5_79_church/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/thirdparty/ft5_79_church/js/magnific-popup-options.js"></script>
	<!-- Counters -->
	<script src="/static/thirdparty/ft5_79_church/js/jquery.countTo.js"></script>
	<!-- Main -->
	<script src="/static/thirdparty/ft5_79_church/js/main.js"></script>

	</body>
</html>

