{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8"> 
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/jquerysession.js"></script>
<link href="/static/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>


<!-- <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script> -->
<!-- <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css"> -->
<!-- <link href="https://cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet"> -->

<script src="/static/thirdparty/popper.min.js"></script>
<link rel="stylesheet" href="/static/thirdparty/monokai_sublime.min.css">
<link href="/static/thirdparty/magnific-popup.min.css" rel="stylesheet">

	
<meta name="viewport" content="width=device-width, initial-scale=1.0">



<!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet"> -->

<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>  -->
<!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>  -->

<script src="/static/thirdparty/3.1/jquery.js"></script> 
<script src="/static/thirdparty/3.1/bootstrap.js"></script> 

<link href="/static/summernote-master/dist/summernote-bs4.css" rel="stylesheet">
<script src="/static/summernote-master/dist/summernote-bs4.js"></script>


<script>
function opimage(files)
{
	//alert("insert image1111111111")
	//alert(files[0])
	
	var form_data = new FormData();
	var file_info =files[0];
	form_data.append('picture',file_info);
	//if(file_info==undefined)暂且不许要判断是否有附件
		//alert('你没有选择任何文件');
		//return false
	$.ajax({
		url:'/uploadpic',
		type:'POST',
		data: form_data,
		processData: false,  // tell jquery not to process the data
		contentType: false, // tell jquery not to set contentType
		dataType:'text',
		success: function(pic) {

			//alert("succ")
			$('.summernote').summernote('insertImage',pic);
		},
		error: function(xhr,status,errMsg){
						//alert(data)
						alert("fail");
						alert(status)
						alert(errMsg)
					}
	});
			
}

$(document).ready(function() {
	function getCookie(name) {  
		var cookieValue = null;  
		if (document.cookie && document.cookie != '') {  
			var cookies = document.cookie.split(';');  
			for (var i = 0; i < cookies.length; i++) {  
				var cookie = jQuery.trim(cookies[i]);  
				// Does this cookie string begin with the name we want?  
				if (cookie.substring(0, name.length + 1) == (name + '=')) {  
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));  
					break;  
				}  
			}  
		}  
		return cookieValue;  
	}  
	function csrfSafeMethod(method) {  
		// these HTTP methods do not require CSRF protection  
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));  
	}  
	$.ajaxSetup({  
		beforeSend: function(xhr, settings) {  
		var csrftoken = getCookie('csrftoken');       
		if (!csrfSafeMethod(settings.type) && !this.crossDomain) {  
				xhr.setRequestHeader("X-CSRFToken", csrftoken);  
			}  
		}  
	}); 
	
  $('.summernote').summernote({height:330,table:'table',callbacks: {
    onImageUpload: opimage
  }});
  
  
  $('#btn1').click(function(){
	alert("test");
	y = $("#publishcontent")
	x = $("#publishcontent").val()
	alert("title: " + $("#publishtitle").val());
	alert("content: " + $("#publishcontent").val());
	//alert("HTML: " + $("#publishcontent").html());
	//$("#publishcontent").val('<p>eg3egg34g34gewf43ctvtvaffs</p><p><img src="/static/pic/123.jpg" style="width: //500px;"></p><p>111111111111111111er3r32324t34t34ef</p>')
	//$("#publishcontent").val("fffdddddddddddddddddddddddddddddddddddddddd")
})


});



</script>

<style>
.modal-backdrop{
	background-color: rgba(0,0,0,0)!important;
	z-index: 0 !important;
}
</style>

</head>

<body>

<div class="container">
<div class="row">
<div class="col-sm-12" >
<div id="demo" class="carousel slide">
 
  <!-- 指示符 -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
 
  <!-- 轮播图片 -->
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-size:cover">
      <img src="/media/photos/7.bmp" >
	  <div class="carousel-caption">
        <h3>不忘初心</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/media/photos/8.jpg" >
	  <div class="carousel-caption">
        <h3>牢记使命</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/media/photos/9.jpg" >
	  <div class="carousel-caption">
        <h3>永远奋斗</h3>
      </div>
    </div>
  </div>
 
  <!-- 左右切换按钮 -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
 
</div>
</div>
</div>
</div>

<div class="container" >
	<p></p>
	
	<ul class="nav  nav-tabs justify-content-left">
		<li class="nav-item">
			<a class="nav-link active" href="#">首页</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">论坛</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">帮助</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">下载</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">关于</a>
		</li>

		<form class="form-inline " style="float:right;">
			<input class="form-control" type="text" placeholder="Search">
			<button class="btn btn-default" type="button">Search</button>
		</form>
	</ul>

</div>

<div class="container" id="content">
	<div class="row">
		<div class="col-md-9">
			<div class="alert alert-light">
			</div>
			<div class="alert alert-secondary">	
				<form method="post" action="/publishblog"  enctype="application/x-www-form-urlencoded">
					{% csrf_token %}
					<div class="form-group">
					    <label class="col-form-label" for="inputDefault">标题</label>
					    <input type="text" class="form-control" placeholder="请输入标题" id="publishtitle" name="publishtitle">
					    <label class="col-form-label" for="inputDefault">内容</label>
					    <textarea class="summernote" name="publishcontent" id="publishcontent"></textarea>
						<input value="确定" id="pub" class="form-control  btn btn-info btn-sm" type="submit">
					</div>
				</form>
				<button class="btn btn-info btn-sm" id="btn1" hidden>test</button>
			</div>
			
		</div>
		<div class="col-md-3">
			<div class="alert alert-light">
			
			</div>
			<div class="alert alert-secondary">
			    <h4 class="title">导航</h4>
				<nav class="navbar">
				  <!-- Links -->
				  <ul class="navbar-nav">
					<li class="nav-item">
					  <a class="nav-link" href="#">热点文章</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">最新发布</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">我的标签</a>
					</li>
				  </ul> 
				</nav>
			
			</div>
			
			<div class="alert alert-secondary">
				<!-- start tag cloud widget -->
				<div class="row">
					<h4 class="title">标签云</h4>
					<div class=" row-fluid">						
						<a href="/tag/ke-hu-duan/" class='btn btn-info btn-sm' style="float:left;margin-left:5px;margin-bottom:4px;">客户端</a>
						<a href="/tag/android/" class='btn btn-info btn-sm ' style="float:left;margin-left:5px;margin-bottom:4px;">Android</a>
						<a href="/tag/jquery/" class='btn btn-info btn-sm ' style="float:left;margin-left:5px;margin-bottom:4px;">jQuery</a>
						<a href="/tag/ghost-0-7-ban-ben/" class='btn btn-info btn-sm ' style="float:left;margin-left:5px;margin-bottom:4px;">Ghost 0.7 版本</a>
						<a href="/tag/opensource/" class='btn btn-info btn-sm ' style="float:left;margin-left:5px;margin-bottom:4px;">开源</a>
						<a href="/tag/zhu-shou-han-shu/" class='btn btn-info btn-sm ' style="float:left;margin-left:5px;margin-bottom:4px;">助手函数</a>
						<a href="/tag/tag-cloud/" class='btn btn-info btn-sm ' style="float:left;margin-left:5px;margin-bottom:4px;">标签云</a>
						<a href="/tag/navigation/" class='btn btn-info btn-sm ' style="float:left;margin-left:5px;margin-bottom:4px;">导航</a>	
					</div>
				</div>
				<!-- end tag cloud widget -->	
			</div>
			
			
			
		</div>
	</div>
</div>

	
</body>
</html>