{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<script src="/static/js/jquery-3.3.1.js"></script>
<link href="/static/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/validate.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 50%;
  }
</style>
<style>
body{
    background: url("/media/photos/12.jpg");
	background-color:green;
    animation-name:myfirst;
    animation-duration:12s;
    /*变换时间*/
    animation-delay:2s;
    /*动画开始时间*/
    animation-iteration-count:infinite;
    /*下一周期循环播放*/
    animation-play-state:running;
    /*动画开始运行*/
}
<!-- @keyframes myfirst -->
<!-- { -->
    <!-- 0%   {background:url("D:/code/project/webfirst/media/photos/7.bmp");} -->
    <!-- 34%  {background:url("D:/code/project/webfirst/media/photos/8.jpg");} -->
    <!-- 67%  {background:url("D:/code/project/webfirst/media/photos/9.jpg");} -->
    <!-- 100% {background:url("D:/code/project/webfirst/media/photos/7.bmp");} -->
<!-- } -->
.form{background: rgba(255,255,255,0);width:1200px;margin:120px auto;}
/*阴影*/
.fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}
input[type="text"],input[type="password"]{padding-left:26px;}
.checkbox{padding-left:21px;}
</style>
<script>
$(document).ready(function(){

	if(document.referrer==0)
	{
		{% if request.session.username %}  
			//alert("{{ request.session.username }} ")
		{% else %}  
			alert("请登陆")
			
			$(location).attr('href', '/login')
		{% endif %}  
	}
	
	function getCookie(name) {  
		var cookieValue = null;  
		if (document.cookie && document.cookie != '') {  
			var cookies = document.cookie.split(';');  
			for (var i = 0; i < cookies.length; i++) {  
				var cookie = jQuery.trim(cookies[i]);  
				// Does this cookie string begin with the name we want?  
				if (cookie.substring(0, name.length + 1) == (name + '=')) {  
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));  
					break;  
				}  
			}  
		}  
		return cookieValue;  
	}  
	function csrfSafeMethod(method) {  
		// these HTTP methods do not require CSRF protection  
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));  
	}  
	$.ajaxSetup({  
		beforeSend: function(xhr, settings) {  
		var csrftoken = getCookie('csrftoken');       
		if (!csrfSafeMethod(settings.type) && !this.crossDomain) {  
				xhr.setRequestHeader("X-CSRFToken", csrftoken);  
			}  
		}  
	}); 
	
	

  
});
</script>


<script>
$(document).ready(function(){

	
	function getCookie(name) {  
		var cookieValue = null;  
		if (document.cookie && document.cookie != '') {  
			var cookies = document.cookie.split(';');  
			for (var i = 0; i < cookies.length; i++) {  
				var cookie = jQuery.trim(cookies[i]);  
				// Does this cookie string begin with the name we want?  
				if (cookie.substring(0, name.length + 1) == (name + '=')) {  
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));  
					break;  
				}  
			}  
		}  
		return cookieValue;  
	}  
	function csrfSafeMethod(method) {  
		// these HTTP methods do not require CSRF protection  
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));  
	}  
	$.ajaxSetup({  
		beforeSend: function(xhr, settings) {  
		var csrftoken = getCookie('csrftoken');       
		if (!csrfSafeMethod(settings.type) && !this.crossDomain) {  
				xhr.setRequestHeader("X-CSRFToken", csrftoken);  
			}  
		}  
	}); 
	
	

  
});
</script>

</head>

<body>

<div class="container">
	<div class="form row">
	<div class="form-horizontal col-md-offset-3" id="login_form">
		<div class="col-xs-7">
			<form action="/registor" class="" method="post" enctype="application/x-www-form-urlencoded">
			{% csrf_token %}
				<div class="form-group has-feedback">
					<label for="username" class="text-warning">用户名</label>
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						<input id="username" name="username" class="form-control" placeholder="请输入用户名" maxlength="20" type="text" autoComplete ="off">
					</div>
					<span style="color:red;display: none;" class="tips"></span>
					<span style="display: none;" class=" glyphicon glyphicon-remove form-control-feedback"></span>
					<span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
				</div>
				
				<div class="form-group has-feedback">
					<label for="password" class="text-warning">密码</label>
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						<input id="password" name="password" class="form-control" placeholder="请输入密码" maxlength="20" type="password">
					</div>

					<span style="color:red;display: none;" class="tips"></span>
					<span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
					<span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
				</div>

				<div class="form-group has-feedback">
					<label for="passwordConfirm" class="text-warning">确认密码</label>
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						<input id="passwordConfirm" class="form-control" placeholder="请再次输入密码" maxlength="20" type="password">
					</div>
					<span style="color:red;display: none;" class="tips"></span>
					<span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
					<span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
				</div>
			
				
				<div class="row">
					<div class="col-xs-7">
						<div class="form-group has-feedback">
							<label for="idcode-btn" class="text-warning">验证码</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-qrcode"></span></span>
								<input id="idcode-btn" class="form-control" placeholder="请输入验证码" maxlength="4" type="text">
							</div>
							<span style="color:red;display: none;" class="tips"></span>
							<span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
							<span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
						</div>
					</div>
					<div class="col-xs-5" style="padding-top: 30px">
						<div id="test" style="background: transparent;"></div>
					</div>
				</div>
			
				
				<div class="form-group">
					<input class="form-control btn btn-primary" id="submit" value="立&nbsp;&nbsp;即&nbsp;&nbsp;注&nbsp;&nbsp;册" type="submit">
				</div>

				<div class="form-group">
					<input value="重置" id="reset" class="form-control btn btn-danger" type="reset">
				</div>
				
			</form>
		</div>	
		</div>
	</div>	
</div>

<br/>


<script>

	var gencode,inputcode;
	var varifycode = false
	var varifyname = false
	var varifypasswd = false
	function random1num()
	{
		var randNum = Math.floor(Math.random() * 6);
		return String(randNum)
	}
	function random4num()
	{
		return random1num()+random1num()+random1num()+random1num()
	}
		
		
	function VerificationId()
	{
		child = document.getElementById("ehong-code")
		if(child!=null)
		{
			document.getElementById("test").removeChild(child);
		}
		child = document.getElementById("ehong-code-tip-ck")
		if(child!=null)
		{
			document.getElementById("test").removeChild(child);
		}
		var new_e = document.createElement("div")
		gencode = random4num()
		var node = document.createTextNode(gencode)
		new_e.appendChild(node)
		new_e.id = "ehong-code"
		new_e.className = "ehong-idcode-val ehong-idcode-val"+random1num()
		new_e.onclick = function(){VerificationId()}
		
		var tips = document.createElement("span")
		tips.id = "ehong-code-tip-ck"
		tips.className = "ehong-code-val-tip"
		tips.innerHTML = "再换一组验证码"
		
		document.getElementById("test").appendChild(new_e)
		document.getElementById("test").appendChild(tips)
		
	}
	
	function Verificate()
	{

		inputcode = $("#idcode-btn").val()
		if(inputcode==gencode)
		{
			//alert("succ: right code")
			varifycode = true
		}
		else
		{
			//alert("FAIL: wrong code")
			varifycode = false
		}
		
		return varifycode
	}
	
	//校验成功函数
	function verifysuccess(Obj, counter) {
		Obj.parent().parent().removeClass('has-error').addClass('has-success');
		$('#ehong-code-tip-ck').hide();
		$('.glyphicon-ok').eq(counter).show();
		$('.glyphicon-remove').eq(counter).hide();
		$('.tips').eq(counter).hide();
	}

	// 校验失败函数
	function verifyfail(Obj, counter, msg) {
		Obj.parent().parent().removeClass('has-success').addClass('has-error');
		$('.glyphicon-remove').eq(counter).show();
		$('.glyphicon-ok').eq(counter).hide();
		$('.tips').eq(counter).text(msg).show();
	}
</script>

<script>
VerificationId();

$("#username").change(function(){
	if($("#username").val()=='')
	{
		verifyfail($(this), 0, '用户名不能为空');
		varifyname = false
	}
	else
	{
		verifysuccess($(this), 0);
		varifyname = true
	}
	
})

$('#passwordConfirm').change(function(){
	var a = $('#passwordConfirm').val()
	var b = $('#password').val()
	if($('#passwordConfirm').val() != $('#password').val())
	{
		//alert("两次密码输入不一致")
		verifyfail($(this), 2, '两次密码输入不一致');
		varifypasswd = false
	}
	else
	{
		verifysuccess($(this), 2);
		varifypasswd = true
	}
})

$("#idcode-btn").change(function(){
	rst = Verificate()
	if(rst)
	{
		verifysuccess($(this), 3);
		varifycode =true
	}
	else
	{
		verifyfail($(this), 3, '验证码输入错误');
		varifycode=false
	}
})

$('#submit').click(function(e){
	if(varifyname==false)
	{
		e.preventDefault()
		verifyfail($(this), 0, '用户名不能为空');
		return
	}
	if(varifypasswd==false)
	{
		e.preventDefault()
		verifyfail($(this), 2, '两次密码输入不一致');
		return
	}
	if(varifycode==false)
	{
		e.preventDefault()
		verifyfail($(this), 3, '验证码输入错误');
		return
	}
	
	username = $('#username').val();
	password = $('#password').val();
	
})



</script>
	
</body>
</html>
